{% extends 'base.html.twig' %}


{% block body %}
    <form action="{{ path('auth_login') }}" method="POST">

        <input type="text" name="_username" />
        <input type="text" name="_password" />
        <input type="submit" />

    </form>
{% endblock %}
