<nav>
    <ul>
        <li>
            <a href="{{ url('articles') }}">Articles</a>
        </li>
        <li>
            <a href="{{ url('category_index') }}">Categories</a>
        </li>
    </ul>
</nav>