{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('create_article') }}">Create Article</a>
    <table border="1">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Title</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td><a href="{{ path('edit_article', {'id': article.id}) }}">{{ article.title }}</a></td>
                    <td><a href="{{ path('delete_article', {'id': article.id}) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}